<style>
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  width:500;
  height:100;
  }

  h1{
    
    position : relative;
    bottom: 31px;
    left: -6px; 

  
  }

  table.border-top:hover{
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  
  .topBorder:hover{

 
  border-top: solid;
  backgroud-color : blue;
  transition: banckgroud-color .5s;
  }
  

  .td-border-top{
    border-top: 3px solid black;
  }

  .td-border-left{
    border-left: 3px solid black;
  }

  .td-border-right{
    border-right: 3px solid black;
  }

  .td-border-bottom{
    border-bottom: 3px solid black;
  }

</style>

Timbiriche

<h5>Primer Jugador:</h5>
<p><%= @primerNombre %></p>

<h5>Segundo Jugador:</h5>
<p><%= @segundoNombre %></p>
<% cont=0 %>
<table style align="center" width= "50%" height="50%";>

  <% @matriz.each do|fila|%>
    <tr>
     
      <% fila.each do|columna|%>
        <td class="
          <%= 'td-border-top' if columna.ladoArriba() %> 
          <%= 'td-border-left' if columna.LadoIzquierda() %> 
          <%= 'td-border-bottom' if columna.LadoAbajo() %> 
          <%= 'td-border-right' if columna.LadoDerecha() %> 
        ">
        </td>
      <% end %>

    </tr> 
  <% end %>
  

</table>
<form method="post" action="/mostrarJugada">
    <label>Ingrese la fila:</label>
    <input type='text' name='fila' id='fila'>
    <label>ngrese la columna:</label>
    <input type='text' name='columna' id='columna'>
    
    <input type='submit' name='selection' value='Arriba'>
    <input type='submit' name='selection' value='Abajo'>
    <input type='submit' name='selection' value='Izquierda'>
    <input type='submit' name='selection' value='Derecha'>
</form>


